services:
  db:
    image: postgres:16
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: azky_demo
    ports:
      - "5540:5432"
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data:

